* {
    box-sizing: border-box;
}

body {
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

/* nav bar: */

#nav-container {
    height: 72px;
}

#main-nav {
    display: flex;
    flex-direction: row;
    z-index: 5;
}

#logo-container {
    align-items: center;
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    display: flex;
    height: 55px;
    justify-content: center;
    width: 15%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    display: block;
    transition-duration: 0.5s;
}

ul li ul {
    background: #131313;
    display: none;
    left: 1%;
    margin-top: 0.1rem;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    visibility: hidden;
}

ul li ul li {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    clear: both;
    padding: 8px 5px;
    width: 100%;
}

.nav-list li {
    display: inline-block;
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    list-style: none;
    padding-left: 20px;
}

ul li ul.drop1 {
    left: 8%;
    padding-left: 5px;
    width: 15%;
}

ul li ul.drop2 {
    left: 15%;
    padding-left: 5px;
}

.secondary_footer ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover {
    display: block;
    opacity: 1;
    visibility: visible;
}

.links li {
    background-color: #333;
    border-radius: 50%;
    border: 2px solid #333;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
}

.nav-right li {
    display: inline-block;
    text-align: center;
}

.footer-links li {
    padding: 8px;
}

.secondary_footer li {
    font-size: 13px;
}


ul li ul li:first-child {
    border-top: none;
}

.nav-left {
    margin: 0;
    padding: 0;
    height: 33px;
}

.grid-nav-wrapper {
    background: #131313;
    display: flex;
    flex-direction: row;
    height: 31px;
    justify-content: space-between;
    padding: 0.45em 10px 0 10px;
}

a {
    text-decoration: none;
}

.latest-links a {
    color: red;
    text-decoration: none;
}

.nav-right {
    margin: 0;
}

.nav-left li a,
.nav-right li a {
    color: rgb(197, 196, 196);
}

.second-list li a,
#logo-container a span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #aaa;
}

.latest-links a:hover {
    color: #000;
}

.nav-left li a:hover,
.nav-right li a:hover {
    color: #fff;
}

.second-list {
    background: #fff;
    margin: 0;
    padding: 20px 15px;
    height: 55px;
    width: 92%;
}

.nav-icons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-icon {
    background: #fff;
    border-left: 1px solid #eee;
    padding: 19px 20px;
}

.fa-search {
    color: #aaa;
}

#menu-icon {
    border-left: 1px solid #eee;
    display: none;
    padding: 20px;
}

.fa-bars {
    color: #f42;
}

/* section one : */

.first_content {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1%;
}

.first_article {
    margin-left: 1%;
    background-image: linear-gradient(to top left, rgb(184, 3, 3), rgb(87, 2, 2), rgb(8, 5, 5), transparent), url(images/img6.jpg);
    opacity: 0.8;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 460px;
}

.item1-class .par-one {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.second_article {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
}

.first_article .par {
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.par * {
    padding: 4px;
}

.item1-class .par-one h2 {
    font-size: 36px;
    color:white;
}

.item1-class .par-one p {
    color: white;
    bottom: 2%;
    font-size: 1.02em;
    padding-left: 1%;
}

.second_item {
    color: white;
    background-image: url(images/img6.jpg);
    opacity: 0.7;
    background-size: contain;
}

.second_item .par-one .par {
    display: flex;
    flex-direction: row;

}

/* section two and section five: */

figure {
    margin: 0;
}

.first-section img {
    width: 100%;
}

.news_content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    padding: 0 20px;
}

.news_content a{
    color: #3f3f3f
}

.news_content a:hover {
    color: gray;
}

.row-1 figure img,
.row-2 figure img,
.row-3 figure img,
.row-4 figure img,
.row-5 figure img,
.row-6 figure img,
.row-7 figure img,
.row-8 figure img{
    width: 300px;
    height: 200px;
}

.first_content p,
.latest_deals p {
    color: #aaa;
    font-size: 10px;
}

.first_content p:hover,
.latest_deals p:hover {
    color: #333;
    cursor: pointer;
}

.first_content h2,
.latest_deals h2 {
    cursor: pointer;
    margin: 5px 0;
}

.first_content h2:hover,
.latest_deals h2:hover {
    color: grey;
}

.latest_deals {
    width: 100%;

}

.caption a {
color: #5a5a5a;
}

.caption a:hover {
    color: #969595;
}

.deals {
    background-image: url(images/img6.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgb(250, 249, 249);
    height: 200px;
    width: 300px;
    overflow: hidden;
    position: relative;
}

.deals a {
    color: white;
    font-size: 20px;
}

.deals a:hover {
    color: gray;
}

.deals_content {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.deals div {
    transform: rotate(45deg);
    font-size: 14px;
    font-weight: 700;
    left: 8px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    width: 100%;
    z-index: -10;
}

.apple_content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.apple_content figure img {
    width: 320px;
    height: 200px;
}
/* section three: */

.latest-funding {
    width: 100%
}

.img1 {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.img1 p {
    color: white;
    text-decoration: none;
}

.img1 p:hover {
    color: #5a5a5a;
}

.img-des {
    margin-top: 100px;
}

.des-time {
    margin-top: -17px;
    text-align: center;
    color: rgb(216, 215, 215);
}

.img-des a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

.img-des a:hover {
    color: gray;
}

.items1 figure{
    background-image: url(images/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.latest_news h2, .latest-funding h2, .apple_special h2, .latest_deals h2{
    color: red;
}

.app_sec h2 {
    color: red;
    margin-left: 15px;
}

.apple_special {
    margin-left: 20px;
}

.latest_funding_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.latest_funding_img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
    padding: 10px 15px;
    text-align: center;
}

.funding_img {
    background-color: rgb(252, 240, 252);
    width: 320px;
    height: 300px;
}

.funding-first {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #f42;
}

.funding-first h3{
    margin-left: 30px;
}

.funding_img a{
    color: black;
    font-size: 14px;
    font-weight: 400px;
}

.funding_img .des-title{
    border-top: 1px solid red;
}

.pink-txt {
    background-color: rgb(248, 214, 240);
}

.latest-links {
    padding: 10px 15px;
}

/* section four: */

.app_sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
    padding: 0 20px;
}

.app_sec figure {
    position: relative;
    background-color: grey;
    height: 250px;
    width: 100%;
}

/* section four: */

.app_sec .items1 {
    display: flex;
    flex-direction: column;
}

.main-ul {
    list-style: none;
}

.main-ul li::before {
    content: "•";
    color: red;
    margin: 10px;
}

.main-ul li:hover {
    color: black;
    cursor: pointer;
}

.app_sec figure {
    display: flex;
    height: 40vh;
    margin: auto;
    width: 30vw;
}

.main-img {
    height: 100%;
    width: 100%;
}


/* footer: */

footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px 100px;
}

.first_footer {
    align-items: center;
    background-color: #696868;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first_footer ul li a {
    color: white;
}

.links {
    color: white;
    display: flex;
    flex-direction: row;
}

.links li:hover {
    background-color: #131313;
}

.footer-links {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: grey;
    cursor: pointer;
}

.footer-links li:hover {
    color: white;
}

.secondary_footer {
    background-color: black;
    color: white;
    display: flex;
}

.heart {
    color: red;
}

/* medium screen width less than 1023px: first break point */

@media (max-width: 1023px) and (min-width: 768px) {
    /* nav bar */

    .scroll-nav {
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-template-rows: 50px 50px;
    }

    .nav-right {
        display: none;
    }

    .nav-left {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .second-list {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /* section one : */

    .first_content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 20px;
    }

    .item1-class h3,
    .items-class h3,
    .items3-class h3 {
        font-size: 0.8em;
    }

    .first_article .latest_news {
        width: 100%;
    }


   .news_content, .apple_content, .latest_funding_img, .deals_content {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
   }

   .funding_img {
       width: 240px;
   }

   .row-1,.row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8 {
       width: 260px;
   }

   .row-1 figure img,
    .row-2 figure img,
    .row-3 figure img,
    .row-4 figure img,
    .row-5 figure img,
    .row-6 figure img,
    .row-7 figure img,
    .row-8 figure img,
    .apple_content figure img,
    .deals {
        width: 260px;
        height: 200px;
    }

    .app_sec {
        grid-template-columns: repeat(2, 1fr);
    }

    .app_sec .items1 {
        width: 400px;
    }

    .app_sec .items1 figure {
        width: 400px;
    }

    .app_sec .items1 h3,
    h4 {
        color: red;
    }

    .app_sec_link{
        width: 400px;
        text-decoration: none;
        color: #555;
    }


    .main-ul {
        list-style: none;
    }

    .main-ul li::before {
        content: "•";
        color: red;
        margin: 10px;
    }

    .main-ul li {
        border-bottom: 1px solid #555;
        line-height: 30px;
    }

}

/* small screen width less than 769 first break point */

@media (max-width: 768px) {
    /* nav bar: */

    header {
        margin-bottom: 0;
    }

    .grid-nav-wrapper {
        display: none;
    }

    .second-list {
        height: 72px;
    }

    #nav-container {
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-template-rows: 50px;
    }

    #main-nav {
        background: #fff;
        border-bottom: 1px solid #eee;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #logo-container {
        width: 100px;
    }

    ul.second-list {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .first_content {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .second_article {
        margin-top: 5px;
        margin-left: 1%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 5px;
    }

    .first_article {
        width: 100%;
    }

    .first_item {
        height: 230px;
        background-color: #696868
    }

    .second_item {
        height: 230px;
        background-color: #696868;
    }

    
    .news_content,
    .apple_content,
    .items1 {
        display: flex;
        flex-direction: column;
    }

    .row-1,
    .row-2,
    .row-3,
    .row-4,
    .row-5,
    .row-6,
    .row-7,
    .row-8, .apple_content figure{
      display: flex;
      flex-direction: row;
    }

    .row-1 figure img,
    .row-2 figure img,
    .row-3 figure img,
    .row-4 figure img,
    .row-5 figure img,
    .row-6 figure img,
    .row-7 figure img,
    .row-8 figure img,
    .apple_content figure img {
        width: 60px;
        height: 50px;
    }

    .row-1 .figcaption,
    .row-2 .figcaption,
    .row-3 .figcaption,
    .row-4 .figcaption,
    .row-5 .figcaption,
    .row-6 .figcaption,
    .row-7 .figcaption,
    .row-8 .figcaption,
    .apple_content .caption {
       margin-left: 10px;
    }


    .deals_content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

   .deals {
       width: 230px;
       height: 200px;
   }

    .latest_funding_top {
        display: flex;
        flex-direction: column;
    }

    .latest_funding_img {
        display: flex;
        flex-direction: column;
    }

    .funding_img {
        width: 450px;
        margin-top: 30px;
    }

    h2 {
        margin: 10px 0 0 0;
    }

    .first-section img,
    .latest_deals img {
        height: 100%;
        width: 100%;
    }


    /* section four: */

    .app_sec .items1 {
        display: flex;
        flex-direction: column;
    }

    .app_sec .items1 h3,
    h4 {
        color: red;
    }

    .main-ul {
        list-style: none;
    }

    .main-ul li::before {
        content: "•";
        color: red;
        margin: 10px;
    }

    .main-ul li {
        border-bottom: 1px solid #555;
        line-height: 30px;
    }

    .app_sec {
        display: flex;
        flex-direction: column;
    }

    .app_sec figure {
        display: flex;
        height: 300px;
        margin: auto;
        width: 90%;
    }

    /* footer: */

    .secondary_footer ul {
        flex-direction: column;
    }

    .first_footer ul li a {
        color: rgb(241, 241, 241);
    }
}